[user]
  name = Mario Fink
	email = mariofink@users.noreply.github.com
[url "https://"]
  insteadOf = git://
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[core]
  autocrlf = input
  excludesfile = ~/.gitignore
  editor = /usr/bin/vim
  ignorecase = false
  pager = delta # using https://github.com/dandavison/delta
[merge]
  conflictstyle = zdiff3
[push]
  default = simple
  autoSetupRemote = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[log]
  date = relative
[diff]
  tool = vimdiff
  colorMoved = plain
  renames = true
[difftool]
  prompt = false
[status]
  showUntrackedFiles = all
[alias]
  edit-config = !vi ~/.gitconfig
  amend = commit --amend
  co = checkout
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  graph = log --graph --all --decorate --stat --date=iso
  recap = log --no-merges --author='Mario Fink' --pretty=format:\"%C(yellow)%h%Creset %s %C(cyan)%cD%Creset\"
  unstage = reset HEAD --
  st = status
  ci = commit
  br = branch
  sw = switch
  up = !git pull --rebase --prune $@ && git log --oneline ORIG_HEAD..
  new = flow feature start
  finish = flow feature finish -S
  show-ignored = !git ls-files -v | grep -E "^[S]" # list files with the skip-worktree flag
  ignore = update-index --skip-worktree # set the skip-worktree flag for a specified file
  unignore = update-index --no-skip-worktree
  delete-last-commit = reset --hard HEAD~1
  rv = checkout HEAD -- # reset(revert) changes to a file
  purge-tags = !git tag -l | xargs git tag -d && git fetch -t
  recently-added = whatchanged --diff-filter=A
  find-java-tests = !git log --since='4 weeks ago' --decorate --name-only | grep "Test.java" | sort | uniq
  undo-last-commit = reset HEAD~
  undo-last-merge = reset --hard ORIG_HEAD
  recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)" # show branches with recent commits
  flight-rules = !open https://github.com/k88hudson/git-flight-rules
  recent-branches = for-each-ref --count=16 --sort=-committerdate refs/heads/ --format='%(refname:short)'
  remote-branches = branch -r --sort=committerdate
  # https://preslav.me/2020/03/01/use-the-git-history/
  code-changes = "!git log --format=format: --name-only | egrep -v '^$' | sort | uniq -c | sort -rg | head -25"
  count-lines-of-code = "!git ls-files | xargs wc -l"
  find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep

[pull]
  rebase = false
[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections

[branch]
  sort = -committerdate
[column]
  ui = auto
[tag]
  sort = version:refname
[commit]
  verbose = true
